df2bi08/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory-Name",
			"defaultValue": "df2bi08"
		},
		"IsBI08Northwind_connectionString": {
			"type": "secureString",
			"metadata": "Sichere Zeichenfolge f端r \"connectionString\" von \"IsBI08Northwind\""
		},
		"IsDV_connectionString": {
			"type": "secureString",
			"metadata": "Sichere Zeichenfolge f端r \"connectionString\" von \"IsDV\""
		},
		"IsNorthwind_connectionString": {
			"type": "secureString",
			"metadata": "Sichere Zeichenfolge f端r \"connectionString\" von \"IsNorthwind\""
		},
		"IsStar_connectionString": {
			"type": "secureString",
			"metadata": "Sichere Zeichenfolge f端r \"connectionString\" von \"IsStar\""
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pCopyCustomers')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "dfCopyCustomersNew1",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dfCopyCustomers",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"NorthwindCustomers": {},
									"Customers08": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"concurrency": 1,
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2021-11-25T10:13:57Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/dfCopyCustomers')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pNorthwindDV')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "dfFillHubs",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dfFillHubs",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"NorthwindProducts": {},
									"NorthwindOrders": {},
									"DVHubProducts": {},
									"DVHubOrders": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "dfFillLinks",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "dfFillHubs",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dfFillLinks",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"HubProducts": {},
									"OrderDetails": {},
									"HubOrders": {},
									"LinkOrderDetails": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "dfFillSatellites",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "dfFillLinks",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dfFillSatellites",
								"type": "DataFlowReference",
								"parameters": {
									"LoadDate": "currentUTC(\"Berlin\")"
								},
								"datasetParameters": {
									"NortwhindProducts": {},
									"DVHubProducts": {},
									"HubOrders": {},
									"OrderDetails": {},
									"HubProduct": {},
									"LinkOrderDetails": {},
									"SatProducts": {},
									"SatOrderDetails": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/dfFillHubs')]",
				"[concat(variables('factoryId'), '/dataflows/dfFillLinks')]",
				"[concat(variables('factoryId'), '/dataflows/dfFillSatellites')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pNorthwindStar')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "dfFillDim",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dfFillDim",
								"type": "DataFlowReference",
								"parameters": {
									"LoadDate": "currentUTC(\"Berlin\")"
								},
								"datasetParameters": {
									"DVHubProducts": {},
									"NorthwindProducts": {},
									"StarDimProducts": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "dfFillFacts",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "dfFillDim",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dfFillFacts",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"DVHubOrders": {},
									"DVLinkOrderDetails": {},
									"DVSatOrderDetails": {},
									"StarFactOrders": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/dfFillDim')]",
				"[concat(variables('factoryId'), '/dataflows/dfFillFacts')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dsBI08NorthwindCustomers')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "IsBI08Northwind",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "CustomerID",
						"type": "nchar"
					},
					{
						"name": "CompanyName",
						"type": "nvarchar"
					},
					{
						"name": "ContactName",
						"type": "nvarchar"
					},
					{
						"name": "ContactTitle",
						"type": "nvarchar"
					},
					{
						"name": "Address",
						"type": "nvarchar"
					},
					{
						"name": "City",
						"type": "nvarchar"
					},
					{
						"name": "Region",
						"type": "nvarchar"
					},
					{
						"name": "PostalCode",
						"type": "nvarchar"
					},
					{
						"name": "Country",
						"type": "nvarchar"
					},
					{
						"name": "Phone",
						"type": "nvarchar"
					},
					{
						"name": "Fax",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Customers"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/IsBI08Northwind')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dsBI08NorthwindCustomers08')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "IsBI08Northwind",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Customer_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CompanyName",
						"type": "varchar"
					},
					{
						"name": "ContactName",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Customers08"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/IsBI08Northwind')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dsDVHubOrders')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "IsDV",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Order_SID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Order_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "LoadDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "RecordSource",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Hub_Orders"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/IsDV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dsDVHubProducts')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "IsDV",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Product_SID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "LoadDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "RecordSource",
						"type": "varchar"
					},
					{
						"name": "Product_ID",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Hub_Products"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/IsDV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dsDVLinkOrderDetails')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "IsDV",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Link_Order_Details_SID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Product_SID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Order_SID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "LoadDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "RecordSource",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Link_Order_Details"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/IsDV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dsDVSatOrderDetails')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "IsDV",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Link_Order_Details_SID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Quantity",
						"type": "int",
						"precision": 10
					},
					{
						"name": "UnitPrice",
						"type": "decimal",
						"precision": 5,
						"scale": 2
					},
					{
						"name": "LoadDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "RecordSource",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Sat_Order_Details"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/IsDV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dsDVSatProducts')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "IsDV",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Product_SID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ProductName",
						"type": "varchar"
					},
					{
						"name": "LoadDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "RecordSource",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Sat_Products"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/IsDV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dsNorthwindOrderDetails')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "IsNorthwind",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "OrderID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ProductID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "UnitPrice",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "Quantity",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Discount",
						"type": "real",
						"precision": 7
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Order Details"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/IsNorthwind')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dsNorthwindOrders')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "IsNorthwind",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "OrderID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CustomerID",
						"type": "nchar"
					},
					{
						"name": "EmployeeID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "OrderDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "RequiredDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ShippedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ShipVia",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Freight",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "ShipName",
						"type": "nvarchar"
					},
					{
						"name": "ShipAddress",
						"type": "nvarchar"
					},
					{
						"name": "ShipCity",
						"type": "nvarchar"
					},
					{
						"name": "ShipRegion",
						"type": "nvarchar"
					},
					{
						"name": "ShipPostalCode",
						"type": "nvarchar"
					},
					{
						"name": "ShipCountry",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Orders"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/IsNorthwind')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dsNorthwindProducts')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "IsNorthwind",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ProductID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ProductName",
						"type": "nvarchar"
					},
					{
						"name": "SupplierID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CategoryID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "QuantityPerUnit",
						"type": "nvarchar"
					},
					{
						"name": "UnitPrice",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "UnitsInStock",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "UnitsOnOrder",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "ReorderLevel",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Discontinued",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Products"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/IsNorthwind')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dsStarDimProducts')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "IsStar",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Product_SID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Product_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ProductName",
						"type": "varchar"
					},
					{
						"name": "LoadDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "RecordSource",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "BI08_Star_Dim_Products"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/IsStar')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dsStarFactOrders')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "IsStar",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Order_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Product_SID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "LoadDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "RecordSource",
						"type": "varchar"
					},
					{
						"name": "Quantity",
						"type": "int",
						"precision": 10
					},
					{
						"name": "UnitPrice",
						"type": "decimal",
						"precision": 5,
						"scale": 2
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "BI08_Star_Fact_Orders"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/IsStar')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/IsBI08Northwind')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('IsBI08Northwind_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/IsDV')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('IsDV_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/IsNorthwind')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('IsNorthwind_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/IsStar')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('IsStar_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dfCopyCustomers')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "dsBI08NorthwindCustomers",
								"type": "DatasetReference"
							},
							"name": "NorthwindCustomers"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "dsBI08NorthwindCustomers08",
								"type": "DatasetReference"
							},
							"name": "Customers08"
						}
					],
					"transformations": [],
					"script": "source(output(\n\t\tCustomerID as string,\n\t\tCompanyName as string,\n\t\tContactName as string,\n\t\tContactTitle as string,\n\t\tAddress as string,\n\t\tCity as string,\n\t\tRegion as string,\n\t\tPostalCode as string,\n\t\tCountry as string,\n\t\tPhone as string,\n\t\tFax as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> NorthwindCustomers\nNorthwindCustomers sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinput(\n\t\tCustomer_ID as integer,\n\t\tCompanyName as string,\n\t\tContactName as string\n\t),\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError',\n\tmapColumn(\n\t\tCompanyName,\n\t\tContactName\n\t)) ~> Customers08"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dsBI08NorthwindCustomers')]",
				"[concat(variables('factoryId'), '/datasets/dsBI08NorthwindCustomers08')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dfFillDim')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "dsDVHubProducts",
								"type": "DatasetReference"
							},
							"name": "DVHubProducts"
						},
						{
							"dataset": {
								"referenceName": "dsNorthwindProducts",
								"type": "DatasetReference"
							},
							"name": "NorthwindProducts"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "dsStarDimProducts",
								"type": "DatasetReference"
							},
							"name": "StarDimProducts"
						}
					],
					"transformations": [
						{
							"name": "Verbinden1"
						},
						{
							"name": "SelectAttr"
						},
						{
							"name": "AddColumns"
						}
					],
					"script": "parameters{\n\tLoadDate as timestamp (currentUTC(\"Berlin\"))\n}\nsource(output(\n\t\tProduct_SID as integer,\n\t\tLoadDate as timestamp,\n\t\tRecordSource as string,\n\t\tProduct_ID as integer\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> DVHubProducts\nsource(output(\n\t\tProductID as integer,\n\t\tProductName as string,\n\t\tSupplierID as integer,\n\t\tCategoryID as integer,\n\t\tQuantityPerUnit as string,\n\t\tUnitPrice as decimal(19,4),\n\t\tUnitsInStock as integer,\n\t\tUnitsOnOrder as integer,\n\t\tReorderLevel as integer,\n\t\tDiscontinued as boolean\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> NorthwindProducts\nDVHubProducts, NorthwindProducts join(Product_ID == ProductID,\n\tjoinType:'inner',\n\tbroadcast: 'auto')~> Verbinden1\nVerbinden1 select(mapColumn(\n\t\tProduct_SID,\n\t\tProduct_ID,\n\t\tProductName\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> SelectAttr\nSelectAttr derive(LoadDate = $LoadDate,\n\t\tRecordSource = \"NorthwindDV\") ~> AddColumns\nAddColumns sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinput(\n\t\tProduct_SID as integer,\n\t\tProduct_ID as integer,\n\t\tProductName as string,\n\t\tLoadDate as timestamp,\n\t\tRecordSource as string\n\t),\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError',\n\tmapColumn(\n\t\tProduct_SID,\n\t\tProduct_ID,\n\t\tProductName,\n\t\tLoadDate,\n\t\tRecordSource\n\t)) ~> StarDimProducts"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dsDVHubProducts')]",
				"[concat(variables('factoryId'), '/datasets/dsNorthwindProducts')]",
				"[concat(variables('factoryId'), '/datasets/dsStarDimProducts')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dfFillFacts')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "dsDVHubOrders",
								"type": "DatasetReference"
							},
							"name": "DVHubOrders"
						},
						{
							"dataset": {
								"referenceName": "dsDVLinkOrderDetails",
								"type": "DatasetReference"
							},
							"name": "DVLinkOrderDetails"
						},
						{
							"dataset": {
								"referenceName": "dsDVSatOrderDetails",
								"type": "DatasetReference"
							},
							"name": "DVSatOrderDetails"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "dsStarFactOrders",
								"type": "DatasetReference"
							},
							"name": "StarFactOrders"
						}
					],
					"transformations": [
						{
							"name": "Verbinden1"
						},
						{
							"name": "Verbinden2"
						},
						{
							"name": "SelectAttr"
						},
						{
							"name": "AddCols"
						}
					],
					"script": "parameters{\n\tLoadDate as timestamp (currentUTC(\"Berlin\"))\n}\nsource(output(\n\t\tOrder_SID as integer,\n\t\tOrder_ID as integer,\n\t\tLoadDate as timestamp,\n\t\tRecordSource as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> DVHubOrders\nsource(output(\n\t\tLink_Order_Details_SID as integer,\n\t\tProduct_SID as integer,\n\t\tOrder_SID as integer,\n\t\tLoadDate as timestamp,\n\t\tRecordSource as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> DVLinkOrderDetails\nsource(output(\n\t\tLink_Order_Details_SID as integer,\n\t\tQuantity as integer,\n\t\tUnitPrice as decimal(5,2),\n\t\tLoadDate as timestamp,\n\t\tRecordSource as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> DVSatOrderDetails\nDVHubOrders, DVLinkOrderDetails join(DVHubOrders@Order_SID == DVLinkOrderDetails@Order_SID,\n\tjoinType:'inner',\n\tbroadcast: 'auto')~> Verbinden1\nVerbinden1, DVSatOrderDetails join(DVLinkOrderDetails@Link_Order_Details_SID == DVSatOrderDetails@Link_Order_Details_SID,\n\tjoinType:'inner',\n\tbroadcast: 'auto')~> Verbinden2\nVerbinden2 select(mapColumn(\n\t\tOrder_ID,\n\t\tProduct_SID,\n\t\tQuantity,\n\t\tUnitPrice\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> SelectAttr\nSelectAttr derive(LoadDate = $LoadDate,\n\t\tRecordSource = \"DVNorthwind\") ~> AddCols\nAddCols sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinput(\n\t\tOrder_ID as integer,\n\t\tProduct_SID as integer,\n\t\tLoadDate as timestamp,\n\t\tRecordSource as string,\n\t\tQuantity as integer,\n\t\tUnitPrice as decimal(5,2)\n\t),\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError',\n\tmapColumn(\n\t\tOrder_ID,\n\t\tProduct_SID,\n\t\tLoadDate,\n\t\tRecordSource,\n\t\tQuantity,\n\t\tUnitPrice\n\t)) ~> StarFactOrders"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dsDVHubOrders')]",
				"[concat(variables('factoryId'), '/datasets/dsDVLinkOrderDetails')]",
				"[concat(variables('factoryId'), '/datasets/dsDVSatOrderDetails')]",
				"[concat(variables('factoryId'), '/datasets/dsStarFactOrders')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dfFillHubs')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "dsNorthwindProducts",
								"type": "DatasetReference"
							},
							"name": "NorthwindProducts"
						},
						{
							"dataset": {
								"referenceName": "dsNorthwindOrders",
								"type": "DatasetReference"
							},
							"name": "NorthwindOrders"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "dsDVHubProducts",
								"type": "DatasetReference"
							},
							"name": "DVHubProducts"
						},
						{
							"dataset": {
								"referenceName": "dsDVHubOrders",
								"type": "DatasetReference"
							},
							"name": "DVHubOrders"
						}
					],
					"transformations": [
						{
							"name": "DerivedColsProducts"
						},
						{
							"name": "DerivedColsOrders"
						}
					],
					"script": "parameters{\n\tLoadDate as timestamp (currentUTC(\"Berlin\"))\n}\nsource(output(\n\t\tProductID as integer,\n\t\tProductName as string,\n\t\tSupplierID as integer,\n\t\tCategoryID as integer,\n\t\tQuantityPerUnit as string,\n\t\tUnitPrice as decimal(19,4),\n\t\tUnitsInStock as integer,\n\t\tUnitsOnOrder as integer,\n\t\tReorderLevel as integer,\n\t\tDiscontinued as boolean\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> NorthwindProducts\nsource(output(\n\t\tOrderID as integer,\n\t\tCustomerID as string,\n\t\tEmployeeID as integer,\n\t\tOrderDate as timestamp,\n\t\tRequiredDate as timestamp,\n\t\tShippedDate as timestamp,\n\t\tShipVia as integer,\n\t\tFreight as decimal(19,4),\n\t\tShipName as string,\n\t\tShipAddress as string,\n\t\tShipCity as string,\n\t\tShipRegion as string,\n\t\tShipPostalCode as string,\n\t\tShipCountry as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> NorthwindOrders\nNorthwindProducts derive(LoadDate = $LoadDate,\n\t\tRecordSource = \"Northwind\") ~> DerivedColsProducts\nNorthwindOrders derive(LoadDate = $LoadDate,\n\t\tRecordSource = \"Northwind\") ~> DerivedColsOrders\nDerivedColsProducts sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinput(\n\t\tProduct_SID as integer,\n\t\tLoadDate as timestamp,\n\t\tRecordSource as string,\n\t\tProduct_ID as integer\n\t),\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError',\n\tmapColumn(\n\t\tLoadDate,\n\t\tRecordSource,\n\t\tProduct_ID = ProductID\n\t)) ~> DVHubProducts\nDerivedColsOrders sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinput(\n\t\tOrder_SID as integer,\n\t\tOrder_ID as integer,\n\t\tLoadDate as timestamp,\n\t\tRecordSource as string\n\t),\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError',\n\tmapColumn(\n\t\tOrder_ID = OrderID,\n\t\tLoadDate,\n\t\tRecordSource\n\t)) ~> DVHubOrders"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dsNorthwindProducts')]",
				"[concat(variables('factoryId'), '/datasets/dsNorthwindOrders')]",
				"[concat(variables('factoryId'), '/datasets/dsDVHubProducts')]",
				"[concat(variables('factoryId'), '/datasets/dsDVHubOrders')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dfFillLinks')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "dsDVHubProducts",
								"type": "DatasetReference"
							},
							"name": "HubProducts"
						},
						{
							"dataset": {
								"referenceName": "dsNorthwindOrderDetails",
								"type": "DatasetReference"
							},
							"name": "OrderDetails"
						},
						{
							"dataset": {
								"referenceName": "dsDVHubOrders",
								"type": "DatasetReference"
							},
							"name": "HubOrders"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "dsDVLinkOrderDetails",
								"type": "DatasetReference"
							},
							"name": "LinkOrderDetails"
						}
					],
					"transformations": [
						{
							"name": "JoinHubOrders"
						},
						{
							"name": "JoinHubProducts"
						},
						{
							"name": "SelectSID"
						},
						{
							"name": "AbgeleiteteSpalte1"
						}
					],
					"script": "parameters{\n\tLoadDate as timestamp (currentUTC(\"Berlin\"))\n}\nsource(output(\n\t\tProduct_SID as integer,\n\t\tLoadDate as timestamp,\n\t\tRecordSource as string,\n\t\tProduct_ID as integer\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> HubProducts\nsource(output(\n\t\tOrderID as integer,\n\t\tProductID as integer,\n\t\tUnitPrice as decimal(19,4),\n\t\tQuantity as integer,\n\t\tDiscount as float\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> OrderDetails\nsource(output(\n\t\tOrder_SID as integer,\n\t\tOrder_ID as integer,\n\t\tLoadDate as timestamp,\n\t\tRecordSource as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> HubOrders\nOrderDetails, HubOrders join(OrderID == Order_ID,\n\tjoinType:'inner',\n\tbroadcast: 'auto')~> JoinHubOrders\nJoinHubOrders, HubProducts join(ProductID == Product_ID,\n\tjoinType:'inner',\n\tbroadcast: 'auto')~> JoinHubProducts\nJoinHubProducts select(mapColumn(\n\t\tOrder_SID,\n\t\tProduct_SID\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> SelectSID\nSelectSID derive(LoadDate = $LoadDate,\n\t\tRecordSource = \"Northwind\") ~> AbgeleiteteSpalte1\nAbgeleiteteSpalte1 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinput(\n\t\tLink_Order_Details_SID as integer,\n\t\tProduct_SID as integer,\n\t\tOrder_SID as integer,\n\t\tLoadDate as timestamp,\n\t\tRecordSource as string\n\t),\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError',\n\tmapColumn(\n\t\tProduct_SID,\n\t\tOrder_SID,\n\t\tLoadDate,\n\t\tRecordSource\n\t)) ~> LinkOrderDetails"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dsDVHubProducts')]",
				"[concat(variables('factoryId'), '/datasets/dsNorthwindOrderDetails')]",
				"[concat(variables('factoryId'), '/datasets/dsDVHubOrders')]",
				"[concat(variables('factoryId'), '/datasets/dsDVLinkOrderDetails')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dfFillSatellites')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "dsNorthwindProducts",
								"type": "DatasetReference"
							},
							"name": "NortwhindProducts"
						},
						{
							"dataset": {
								"referenceName": "dsDVHubProducts",
								"type": "DatasetReference"
							},
							"name": "DVHubProducts"
						},
						{
							"dataset": {
								"referenceName": "dsDVHubOrders",
								"type": "DatasetReference"
							},
							"name": "HubOrders"
						},
						{
							"dataset": {
								"referenceName": "dsNorthwindOrderDetails",
								"type": "DatasetReference"
							},
							"name": "OrderDetails"
						},
						{
							"dataset": {
								"referenceName": "dsDVHubProducts",
								"type": "DatasetReference"
							},
							"name": "HubProduct"
						},
						{
							"dataset": {
								"referenceName": "dsDVLinkOrderDetails",
								"type": "DatasetReference"
							},
							"name": "LinkOrderDetails"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "dsDVSatProducts",
								"type": "DatasetReference"
							},
							"name": "SatProducts"
						},
						{
							"dataset": {
								"referenceName": "dsDVSatOrderDetails",
								"type": "DatasetReference"
							},
							"name": "SatOrderDetails"
						}
					],
					"transformations": [
						{
							"name": "JoinProducts"
						},
						{
							"name": "SelectSatProductsAttributes"
						},
						{
							"name": "AbgeleiteteSpalte1"
						},
						{
							"name": "Verbinden1"
						},
						{
							"name": "Verbinden2"
						},
						{
							"name": "Verbinden3"
						},
						{
							"name": "SelectOrderDetailsAttributes"
						},
						{
							"name": "AbgeleiteteSpalte2"
						}
					],
					"script": "parameters{\n\tLoadDate as timestamp (currentUTC(\"Berlin\"))\n}\nsource(output(\n\t\tProductID as integer,\n\t\tProductName as string,\n\t\tSupplierID as integer,\n\t\tCategoryID as integer,\n\t\tQuantityPerUnit as string,\n\t\tUnitPrice as decimal(19,4),\n\t\tUnitsInStock as integer,\n\t\tUnitsOnOrder as integer,\n\t\tReorderLevel as integer,\n\t\tDiscontinued as boolean\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> NortwhindProducts\nsource(output(\n\t\tProduct_SID as integer,\n\t\tLoadDate as timestamp,\n\t\tRecordSource as string,\n\t\tProduct_ID as integer\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> DVHubProducts\nsource(output(\n\t\tOrder_SID as integer,\n\t\tOrder_ID as integer,\n\t\tLoadDate as timestamp,\n\t\tRecordSource as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> HubOrders\nsource(output(\n\t\tOrderID as integer,\n\t\tProductID as integer,\n\t\tUnitPrice as decimal(19,4),\n\t\tQuantity as integer,\n\t\tDiscount as float\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> OrderDetails\nsource(output(\n\t\tProduct_SID as integer,\n\t\tLoadDate as timestamp,\n\t\tRecordSource as string,\n\t\tProduct_ID as integer\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> HubProduct\nsource(output(\n\t\tLink_Order_Details_SID as integer,\n\t\tProduct_SID as integer,\n\t\tOrder_SID as integer,\n\t\tLoadDate as timestamp,\n\t\tRecordSource as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> LinkOrderDetails\nNortwhindProducts, DVHubProducts join(ProductID == Product_ID,\n\tjoinType:'inner',\n\tbroadcast: 'auto')~> JoinProducts\nJoinProducts select(mapColumn(\n\t\tProductName,\n\t\tProduct_SID\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> SelectSatProductsAttributes\nSelectSatProductsAttributes derive(LoadDate = $LoadDate,\n\t\tRecordSource = \"Northwind\") ~> AbgeleiteteSpalte1\nOrderDetails, HubOrders join(OrderID == Order_ID,\n\tjoinType:'inner',\n\tbroadcast: 'auto')~> Verbinden1\nVerbinden1, DVHubProducts join(ProductID == Product_ID,\n\tjoinType:'inner',\n\tbroadcast: 'auto')~> Verbinden2\nVerbinden2, LinkOrderDetails join(HubOrders@Order_SID == LinkOrderDetails@Order_SID\n\t&& DVHubProducts@Product_SID == LinkOrderDetails@Product_SID,\n\tjoinType:'inner',\n\tbroadcast: 'auto')~> Verbinden3\nVerbinden3 select(mapColumn(\n\t\tUnitPrice,\n\t\tQuantity,\n\t\tLink_Order_Details_SID\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> SelectOrderDetailsAttributes\nSelectOrderDetailsAttributes derive(LoadDate = $LoadDate,\n\t\tRecordSource = \"Northwind\") ~> AbgeleiteteSpalte2\nAbgeleiteteSpalte1 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinput(\n\t\tProduct_SID as integer,\n\t\tProductName as string,\n\t\tLoadDate as timestamp,\n\t\tRecordSource as string\n\t),\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError',\n\tmapColumn(\n\t\tProduct_SID,\n\t\tProductName,\n\t\tLoadDate,\n\t\tRecordSource\n\t)) ~> SatProducts\nAbgeleiteteSpalte2 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinput(\n\t\tLink_Order_Details_SID as integer,\n\t\tQuantity as integer,\n\t\tUnitPrice as decimal(5,2),\n\t\tLoadDate as timestamp,\n\t\tRecordSource as string\n\t),\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError',\n\tmapColumn(\n\t\tLink_Order_Details_SID,\n\t\tQuantity,\n\t\tUnitPrice,\n\t\tLoadDate,\n\t\tRecordSource\n\t)) ~> SatOrderDetails"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dsNorthwindProducts')]",
				"[concat(variables('factoryId'), '/datasets/dsDVHubProducts')]",
				"[concat(variables('factoryId'), '/datasets/dsDVHubOrders')]",
				"[concat(variables('factoryId'), '/datasets/dsNorthwindOrderDetails')]",
				"[concat(variables('factoryId'), '/datasets/dsDVLinkOrderDetails')]",
				"[concat(variables('factoryId'), '/datasets/dsDVSatProducts')]",
				"[concat(variables('factoryId'), '/datasets/dsDVSatOrderDetails')]"
			]
		}
	]
}